@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.react-tel-input .form-control {
    @apply !w-full py-6 !text-base;
  }
  
  .opt-container {
    @apply flex justify-between gap-2;
  }
  .opt-container input {
    @apply !mr-0 flex-1 py-5 outline-none;
  }

:root {
    --background: #110e0e;
}
/* body{
    background-color: var(--background);
} */

.registration-wrapper {
    height: 100vh;
}

.form-holder {
    width: 450px;
}

.form-item {
    border-radius: 4px;
}

.form-ctl {
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
}

.form-ctl.back {
    background-color: #ffffff;
    border: 1px solid black;
    font-weight:bold;
}

.form-ctl.next {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight:bold;

} 

.form-footer {
    height: 2.5rem;
}
.login-signup{
    background-color: rgb(233, 235, 240);
}


